<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" media="screen and (max-width: 1115px)" href="phone.css">
  
</head>
<body>



    <div id="reg">
      <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">log in</a></li>
      </ul>
    </div>
  
  <div id="bread">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
 </div>


  <nav class="navbar">

    <ul class="visibil">
      <li><a href="#story">Story</a></li>
      <li><a href="#booking">Bookings</a></li>
      <li><a href="#chef">My chefs</a></li>
      <img id="logo" src="mylogoimage.jpeg" alt="mylogo">
      <li><a href="#">Our facts</a></li>
      <li><a href="#menu">Menu</a></li>
      <li><a href="#offer">Special offers</a></li>
    </ul>
  </nav>

  <section class="sitename">
    <h1>WELCOME TO OUR</h1>
    <h1 class="name"> YOGI YUMMY KING KITCHEN</h1>

    <h3>THE BEST EVER FOOD POINT</h3>

  </section>
  <section class="storysection" id="story">
    <div class="headings">
      <h1>OUR STORY</h1>
      <h6>WE ARE COOKING DELECIOUS FOOD SINCE 1997</h6>
      <p></p>

    </div>
    <div class="headofcontainer">
      <div class="container">
        <img src="storysection images/storyimage1.png" alt="image1">
        <h1>EST.SINCE 1997</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia iure reprehenderit, eveniet corrupti dolore
          et consectetur deserunt fugiat aperiam vero ad commodi nemo eligendi asperiores? Quasi quia facilis recusandae
          repellendus accusantium suscipit soluta iusto?</P>
      </div>
      <div class="container">
        <img src="storysection images/storyimage2.png" alt="image2">
        <h1>COOKING TRADITIONS</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia iure reprehenderit, eveniet corrupti dolore
          et consectetur deserunt fugiat aperiam vero ad commodi nemo eligendi asperiores? Quasi quia facilis recusandae
          repellendus accusantium suscipit soluta iusto?</P>
      </div>
      <div class="container">
        <img src="storysection images/storyimage3.png" alt="image3">
        <h1>FOOD QUALITY</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia iure reprehenderit, eveniet corrupti dolore
          et consectetur deserunt fugiat aperiam vero ad commodi nemo eligendi asperiores? Quasi quia facilis recusandae
          repellendus accusantium suscipit soluta iusto?</P>
      </div>
    </div>

  </section>
  <section class="reviews">
    <div class="cont">
      <img src="logo images/beer.png" alt="beer">
      <h1>5466494</h1>
      <h4>BEER MUG SOLD</h4>
    </div>
    <div class="cont">
      <img src="logo images/movie.png" alt="movie">
      <h1>47097</h1>
      <h4>MOVIES WATCHED</h4>
    </div>
    <div class="cont">
      <img src="logo images/truck.png" alt="truck">
      <h1>3535664</h1>
      <h4>PIZZA DELIVERED</h4>
    </div>
    <div class="cont">
      <img src="logo images/customer.png" alt="customers">
      <h1>75653433</h1>
      <h4>CUSTOMERS WORLDWIDE</h4>
    </div>
  </section>




   <section class="foodsection" id="menu">
    <h1>FOOD MENU</h1>
    <h6>THERE IS NO SINCERER LOVE THAN THE LOVE OF FOOD!</h6>
    <div class="items">
      <div class="box">
        <img src="food menu/burger.jpg" alt="burger">
        <h1>BURGER</h1>
        <ul>
          <li>Chilli burger With Pepper Relish</li>
          <li>Perfect Lamb Satay Burger</li>
          <li>Lamb and Tomato Stuffed Burger.</li>
          <li>Crunchy Chicken Burger</li>
          <li>Fish Burger</li>
          <li>Paneer Maharaja Burger</li>
          <li>Veggie Burger</li>
        </ul>

      </div>
      <div class="box">
        <img src="food menu/pizza.jpg" alt="pizza">
        <h1>PIZZA</h1>
        <ul>
          <li>Neapolitan Pizza</li>
          <li>Chicago Pizza</li>
          <li> New York-Style Pizza</li>
          <li>Sicilian Pizza</li>
          <li>Greek Pizza</li>
          <li>California Pizza</li>
          <li> Detroit Pizza</li>
        </ul>
      </div>
      <div class="box">
        <img src="food menu/french fries.jpg" alt="french fries">
        <h1>FRENCH FRIES</h1>
        <ul>
          <li>Crinkle Cut Fries</li>
          <li>Zucchini Fries</li>
          <li> Shoestring Fries</li>
          <li>Chilli Cheese Fries</li>
          <li>Potato Wedges</li>
          <li>Waffle Fries</li>
          <li> Polenta Fries</li>
        </ul>
      </div>
      <!-- <div class="box">
        <img src="/food menu/wraps.jpg" alt="wraps">
        <h1>WRAPS</h1>
        <ul>
          <li>Quesadilla roll</li>
          <li>Mutton Kathi Roll</li>
          <li>Chicken Shawarma</li>
          <li>Paneer Tikka Kathi Roll</li>
          <li>Avocado Roll</li>
          <li>Chicken Roll</li>
          <li> Egg Roll</li>
        </ul>
      </div>  -->
    </div>


    <div class="items">
      <div class="box">
        <img src="food menu/wine.jpg" alt="wine">
        <h1>WINE</h1>
        <ul>
          <li>Sweet Red</li>
          <li> Dry Red</li>
          <li>Sweet White</li>
          <li> Dry White</li>
          <li> Rose</li>
          <li>Sparkling Wine</li>
          <li>Fortified Wine</li>
          <li>Frutty Red</li>
        </ul>

      </div>
      <div class="box">
        <img src="food menu/beer.jpg" alt="beer">
        <h1>BEER</h1>
        <ul>
          <li>Lager</li>
          <li>Blonde Beer</li>
          <li>Black Beer</li>
          <li>Blonde Ale</li>
          <li>Pilsner</li>
          <li>Lemon Beer</li>
          <li>Unfiltered Beer</li>
          <li>Non-Alcoholic</li>
        </ul>
      </div>
      <div class="box">
        <img src="food menu/cocktail.jpg" alt="cocktail">
        <h1>COCKTAIL</h1>
        <ul>
          <li>Black Velvet</li>
          <li>Gin Sour</li>
          <li>Mojito</li>
          <li>Long Island</li>
          <li>Orgasm</li>
          <li>Bloody Mary</li>
          <li>Earthquake</li>
          <li>Whisky Mac</li>
        </ul>
      </div>
       <!-- <div class="box">
        <img src="/food menu/shake.jpg" alt="shakes">
        <h1>SHAKES</h1>
        <ul>
          <li>Mango</li>
          <li>Strawberry</li>
          <li>Blue Berry</li>
          <li>Peach</li>
          <li>Pineapple</li>
          <li>Banana</li>
          <li>Milkshake</li>
          <li>Greens</li>
        </ul>
      </div>  -->


    </div>
  </section>

   <section class="specialsection" id="offer">
    <h1>SPECIAL OFFERS</h1>
    <h6>THERE IS NO SINCERER LOVE THAN THE LOVE OF FOOD!</h6>
    <div class="mainoffer">
      <div class="offers">
        <img src="offers pics/Butter Chicken.jpg" alt="butter chicken">
        <h1>BUTTER CHICKEN</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, aspernatur inventore saepe dicta unde numquam
          aliquam perferendis recusandae, ipsa id pariatur nesciunt asperiores? Perspiciatis eveniet ipsam officia
          excepturi quasi eos molestias ullam in modi ipsum?</p>
        <button id="btn">
          Order now
        </button>

      </div>
      <div class="offers">
        <img src="offers pics/Fried chicken.jpg" alt="fried chicken">
        <h1>FRIED CHICKEN</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, aspernatur inventore saepe dicta unde numquam
          aliquam perferendis recusandae, ipsa id pariatur nesciunt asperiores? Perspiciatis eveniet ipsam officia
          excepturi quasi eos molestias ullam in modi ipsum?</p>
        <button id="btn">
          Order now
        </button>

      </div>
    </div>


    <div class="mainoffer">
      <div class="offers">
        <img src="offers pics/Tandoori chicken.jpg" alt="Tandoori chicken">
        <h1>TANDOORI CHICKEN</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, aspernatur inventore saepe dicta unde numquam
          aliquam perferendis recusandae, ipsa id pariatur nesciunt asperiores? Perspiciatis eveniet ipsam officia
          excepturi quasi eos molestias ullam in modi ipsum?</p>
        <button id="btn">
          Order now
        </button>

      </div>
      <div class="offers">
        <img src="offers pics/punjabi tadka chicken.jpg" alt="punjabi">
        <h1>PUNJABI TADKA CHICKEN</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, aspernatur inventore saepe dicta unde numquam
          aliquam perferendis recusandae, ipsa id pariatur nesciunt asperiores? Perspiciatis eveniet ipsam officia
          excepturi quasi eos molestias ullam in modi ipsum?</p>
        <button id="btn">
          Order now
        </button>
      </div>
    </div>
  </section> 
  <section class="bookingsection" id="booking">
    <h1>
      BOOKINGS
    </h1>
    <h6>BOOK YOUR TABLE & ENJOY MEAL</h6>
    <div class="left-right">
      <div class="left">
        <h1>FILL OUT THE FORM FOR BOOKINGS</h1>
        <div class="form">
          <input type="text" name="fname" id="fname" placeholder="First name">
          <input type="text" name="lname" id="lname" placeholder="Last name">
        </div>
        <div class="form">
          <input type="text" name="email" id="email" placeholder="E-mail">
          <input type="text" name="phone-number" id="phone-number" placeholder="Phone-number">
        </div>
        <div class="form">
          <input type="text" name="date" id="date" placeholder="Date">
          <input type="text" name="guests" id="guests" placeholder="Guests">
        </div>
        <div class="form">
          <input type="text" name="timefrom" id="timefrom" placeholder="Time from">
          <input type="text" name="timeto" id="timeto" placeholder="Time to">
        </div>
        <button id="bookingbutton">
          Book Now
        </button>
      </div>

      <div class="right">


        <div class="headoftiming">
          <h1>TIMINGS</h1>
          <div class="timing">
            <h6>BREAKFAST</h6>
            <p>Mon to Fri: 7:30 AM - 11:30 AM</p>
            <p>Sat & Sun: 8:00 AM - 9:00 AM</p>

          </div>
          <div class="timing">
            <h6>LUNCH</h6>
            <p>Mon to Fri: 12:00 PM - 5:00 PM</p>
          </div>
          <div class="timing">
            <h6>DINNER</h6>
            <p>Mon to Sat: 6:00 PM - 1:00 AM</p>
            <p>Sun: 5:30 PM - 12:00 AM</p>
          </div>
        </div>
        <div class="directions">
          <h1>DIRECTIONS</h1>
          <p>4120 Lenox Avenue, New York, NY, 10035 76 Saint Nicholas Avenue</p>
        </div>

        <div class="contactus">
          <h1>Contact us</h1>
          <p>Email:-yogesh.rajoria16@gmail.com</p>
          <p>Mobile no:-9646546711</p>
        </div>



      </div>
    </div>

  </section>

  <section class="chefsection">
    <h1>OUR CHEFS</h1>
    <h6>THERE IS NO SINCERER LOVE THAN THE LOVE OF FOOD!</h6>
    <div class="chefcontainers" id="chef">
      <div class="chefbox">
        <img src="chef images/chef1.png" alt="chef1">
        <h2>Saransh Singh</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto modi eum accusamus optio, magni doloremque hic vero, eaque autem voluptatum amet illo iste eius sapiente, vitae maiores! Rerum eius quaerat placeat voluptatem vero optio sed illum quae autem ex, odio consequuntur voluptas voluptates quas?</p>
      </div> <div class="chefbox">
        <img src="chef images/chef2.png" alt="chef2">
        <h2>Tina Goyal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto modi eum accusamus optio, magni doloremque hic vero, eaque autem voluptatum amet illo iste eius sapiente, vitae maiores! Rerum eius quaerat placeat voluptatem vero optio sed illum quae autem ex, odio consequuntur voluptas voluptates quas?</p>
      </div>
      <div class="chefbox">
        <img src="chef images/chef3.png" alt="chef3">
        <h2>Mahajan Oberoi</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto modi eum accusamus optio, magni doloremque hic vero, eaque autem voluptatum amet illo iste eius sapiente, vitae maiores! Rerum eius quaerat placeat voluptatem vero optio sed illum quae autem ex, odio consequuntur voluptas voluptates quas?</p>
      </div>
    </div>
  </section>
  <footer>
    <div class="copyright">
      copyright&copy;www.yogiyummykingkitchen.com.All rights reserved
      </div>
  </footer>
   <script>
    let name=document.getElementById("bread");
    let ll=document.querySelectorAll(".line");
    let ans=document.querySelector(".navbar .visibil");
     name.addEventListener('click',function run(){
      if(ans.style.display!="none")
      {
        ans.style.display="none";
        for(let i=0;i<ll.length;i++)
        {
        ll[i].style.backgroundColor="rgb(56, 52, 50)";
        }
      
      }
      else
      {
        ans.style.display="flex";
        for(let i=0;i<ll.length;i++)
        {
        ll[i].style.backgroundColor="white";
        }
      }
     });

     function time(){
    var date=new Date();
  
    var hours=date.getHours(); //0-24
    var min=date.getMinutes();
    var sec=date.getSeconds();
   
    if(hours=="12"){
        hr=12;
    }else if(hours=="24")
    {
         hr=0;
    }else{
        hr=hours%12;
    }
    
    
    var ampm=hours<12?"AM":"PM";

    
    if(hours<10){
        hr="0"+hours;
    }
    if(min<10){
        min="0"+min;
    }
    if(sec<10){
        sec="0"+sec;
    }
    var cat=hr+":"+min+":"+sec+""+ampm;
    document.getElementById("clock").innerText=cat;
}

setInterval(time,1000);


  //    let n=new Date(2022,03,23,07,35,24,9)
  // console.log(n);
  //  let yr=n.getFullYear();
  //  console.log("the year is",yr);
  //  let mon=n.getMonth();
  //  console.log("the montth is",mon);
  //  let day=n.getDate();
  //  console.log("the day is",day);
   
  //  let x=n.setDate(25);
  //  console.log(n);
   
  //  setInterval(updateTime,1000);
  //  function updateTime()
  //   {
  //    let time=document.getElementById('time');
  //    console.log(time);
  //    time.innerHTML=new Date();   
  //   }
    </script> 
  
</body>

</html>